@use "../../scss/colors" as *;
@use "../../scss/fonts" as *;

.statistic-wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13rem 0 5rem 0;

    .statistic-header {
        text-align: center;
        .statistic-title {
            font-size: 2rem;
            font-weight: $fw-700;
            margin: 0;
        }
        .statistic-desc {
            margin: 1rem 0;
            color: $neutral-grayish-violet;
            font-weight: $fw-500;
        }
    }

    .statistic-card-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin-top: 4rem;
        height: 290px;

        .statistic-card {
            position: relative;
            background-color: #ffffff;
            padding: 1.3rem;
            width: 340px;
            border-radius: 5px;

            &-icon {
                position: absolute;
                top: -13%;
                background-color: $primary-dark-violet;
                padding: 1rem;
                height: 70px;
                width: 70px;
                border-radius: 50%;

                &>img {
                    height: 100%;
                    width: 100%;
                }
            }

            .statistic-card-body {
                margin-top: 2.5rem;

                .card-body-title {
                    font-size: 1.2rem;
                    font-weight: $fw-700;
                }
                
                .card-body-desc {
                    color: $neutral-grayish-violet;
                }
            }
        }

        .card--one {
            align-self: flex-start;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -32%;
                transform: translate(0, -50%);
                width: 32%;
                height: 8px;
                background-color: $primary-cyan;
                z-index: -1;
            }
        }
        .card--two { 
            align-self: center;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -32%;
                transform: translate(0, -50%);
                width: 32%;
                height: 8px;
                background-color: $primary-cyan;
                z-index: -1;
            }

        }
        .card--three { 
            align-self: flex-end;
            z-index: 1;
        }
    }
}

@media all and (max-width: '375px') {
    .statistic-wrapper {
        width: 100vw;
        margin: 0;
        padding: 10rem 0 5rem 0;


        .statistic-card-wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
            height: 100%;

            .statistic-card {
                margin: 2rem 0;
                
            }

            .card--one {
                align-self: center;
    
                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 3%;
                    height: 110px;
                    background-color: $primary-cyan;
                    z-index: -1;
                }
            }

            .card--two {
                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 3%;
                    height: 110px;
                    background-color: $primary-cyan;
                    z-index: -1;
                }
    
            }

            .card--three {
                align-self: center;
            }
        }

    }
}