@use '../../scss/colors' as *;
@use '../../scss/fonts' as *;

.hero-wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;

    &-left-content {
        flex-basis: 40%;
        .hero-title {
            font-size: 4.5rem;
            font-weight: $fw-700;
            line-height: 5.5rem;
        }

        .hero-desc {
            margin: 0.2rem 0 2rem 0;
            font-size: 1.1rem;
            color: $neutral-grayish-violet;
            font-weight: $fw-500;
        }
        .hero-desc-mob {
            display: none;
        }

        .hero-action-btn {
            outline: none;
            border: transparent;
            background-color: $primary-cyan;
            font-size: 1rem;
            padding: 0.8rem 2rem;
            border-radius: 50px;
            font-family: $font-poppins;
            font-weight: $fw-700;
            color: #ffffff;
            cursor: pointer;
            transition: opacity 200ms ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }
    }
    
    &-right-content {
        flex-basis: 50%;
        
        .hero-img {
            width: 100%;
        }
    }
}

@media all and (max-width: '375px') {
    .hero-wrapper {
        margin: 0;
        width: 100vw;
        flex-direction: column-reverse;
        text-align: center;

        &-left-content {
            width: 100%;
            padding-top: 2rem;

            .hero-title {
                font-size: 2.5rem;
                line-height: 2.9rem;
            }

            .hero-desc {
               display: none;
            }
            .hero-desc-mob {
                display: block;
                font-size: 1.2rem;
                color: $neutral-grayish-violet;
                font-weight: $fw-500;
            }
    
        }

        &-right-content {
            width: 100%;
            overflow: hidden;

            .hero-img {
                width: 130%;
                margin-left: 2rem;
            }
        }

    }
}