@use "../../scss/colors" as *;
@use "../../scss/fonts" as *;


.short-url-list-wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0 0 0;
    width: 60%;
    
    
    .short-url-list {
        height: 300px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .list-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            margin: 1rem 0;
            padding: 0.5rem 1rem;
            border-radius: 3px;
    
            .list-link {
                font-weight: $fw-500;
                font-size: 1.1rem;
            }
    
            .list-short-link {
                display: flex;
                align-items: center;
                
                .short-list-link {
                    margin-right: 1.2rem;
                    color: $primary-cyan;
                    font-weight: $fw-500;
                    font-size: 1.1rem;
                }
    
                .list-copy-btn {
                    outline: none;
                    border: transparent;
                    background-color: $primary-cyan;
                    font-size: 1rem;
                    padding: 0.5rem 1.8rem;
                    border-radius: 5px;
                    font-family: $font-poppins;
                    font-weight: $fw-700;
                    color: #ffffff;
                    cursor: pointer;
                    transition: opacity 200ms ease-in-out;
            
                    &:hover {
                        background-color: hsl(180, 61%, 62%);
                    }

                    &.active-btn {
                        transition: background-color 100ms ease-in-out;

                        &:focus {
                            background-color: $neutral-dark-blue;
                        }
                    }
                }
            }
        }
    }

}

@media all and (max-width: '375px') {
    .short-url-list-wrapper {
        width: 100vw;
        margin: 0;
        padding: 6rem 0.5rem 0 0.5rem;
        
        .short-url-list {
            margin-top: 2rem;
            .list-wrapper {
                flex-direction: column;
                padding: 0.5rem 0 1.2rem 0;
                border-radius: 5px;

                .list-link {
                    width: 100%;
                    padding: 0 1rem 1rem 1rem;
                    border-bottom: 1px solid $neutral-grayish-violet;
                }

                .list-short-link {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0 1rem;
                    width: 100%;
                    
                    .short-list-link {
                        margin: 0.5rem 0;
                    }

                    .list-copy-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}